.header {
  grid-area: header;
  background-color: #3cb2d6;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: space-around;
}

.logo {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.header_text {
  font-family: "Lobster", cursive;
  color: #000000;
  letter-spacing: 3px;
  transition: all 0.2s ease-in-out;
}

.header_text:hover {
  color: #fff;
  cursor: default;
}

.loginBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBlock i {
  color: #000;
  font-size: 30px;
  transition: 0.4s ease;
}

.loginBlock .login:hover {
  color: #fff;
}

.loginBlock .header_tg:hover {
  color: #e4ac12;
}

.loginBlock .header_tg {
  margin-right: 20px;
}

.loginName {
  font-size: 25px;
  font-weight: 700;
  background-image: linear-gradient(to left, #da4137, #bd2db5);
  -webkit-background-clip: text;
  color: transparent;
}
