.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs_items {
  padding: 5px 0px 0px 30px;
}

.dialog:not(:last-child) {
  margin-bottom: 20px;
}

.dialog {
  font-weight: 500;
  position: relative;
}

.dialog a {
  text-decoration: none;
  color: #000;
  transition: color 0.2s ease-in-out;
}

.dialog a:hover {
  color: #ffffff;
}

.dialog::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
}

.btn_send {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: rgb(6, 14, 131);
  background: linear-gradient(
    0deg,
    rgba(6, 14, 131, 1) 0%,
    rgba(12, 25, 180, 1) 100%
  );
  border: none;
  margin-left: 25px;
}

.btn_send:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 3, 255, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
}

.btn_send:active {
  transform: scale(0.85);
}

.dialogs_edit {
  display: flex;
  align-items: center;
}
